.topcontainer {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 2.5rem;
    color: #66BFBF;
    font-weight: normal;

}
.bottom-container {
    background-color: #66BFBF;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    

}

body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}
h1 {
    font-size: 3.125rem;
    margin: 50px auto 0 auto;
    font-family: 'Khmer', cursive;
    color: #66BFBF;
    line-height: 2;
    
}
h2 {
    color: #66BFBF;
    font-family: 'Khmer', cursive;
    font-size: 2.5rem;
    font-weight: normal;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;

}



.top-cloud {
    

    position: relative;
    
    left: 240px;
}
.bottom-cloud {
    position:absolute;
}
a {
    color: #11999E;
}
.skill1 {
    width: 50%;
    margin: 6.25rem auto 6.25rem auto;
    text-align: right;
    
    position: relative;
    margin-top: 3.125rem;
}
.skill2 {
    width: 50%;
    margin: 6.25rem auto 6.25rem auto;
    text-align: left;
    
    position: relative;
    margin-top: 3.125rem;
    
}
.profile-photo1 {
    width: 9.375rem;
    margin-top: 6.25rem;
    
    margin: 6.25rem auto 6.25rem auto;
}
.col-sm-6 {
    text-align: center;
}
.gamer {
    width: 35%;
    margin-top: 1.875rem;
    
    margin-left: 6.25rem;    
}
.rider {
    width: 35%;
    margin-top: 1.875rem;
    
    margin-right: 6.25rem;     
}
P {
    color: #40514E;
}
hr {
    border-top: 0.4375rem dotted #EAF6F6;
    width: 5rem;
    border-bottom-style: none;
    position: relative;
    margin: 90px auto 90px auto;
}


.year-of-website {
    color: #EAF6F6;
    margin-top: 2.5rem;

}
.btn {
    background: #0DB9BF;
    background-image: -webkit-linear-gradient(top, #0DB9BF, #1b6070);
    background-image: -moz-linear-gradient(top, #0DB9BF, #1b6070);
    background-image: -ms-linear-gradient(top, #0DB9BF, #1b6070);
    background-image: -o-linear-gradient(top, #0DB9BF, #1b6070);
    background-image: linear-gradient(to bottom, #0DB9BF, #1b6070);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    -webkit-box-shadow: 0px 1px 4px #666666;
    -moz-box-shadow: 0px 1px 4px #666666;
    box-shadow: 0px 1px 4px #666666;
    font-family: 'Khmer', cursive;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #1b5257;
    background-image: -webkit-linear-gradient(top, #1b5257, #34d9bb);
    background-image: -moz-linear-gradient(top, #1b5257, #34d9bb);
    background-image: -ms-linear-gradient(top, #1b5257, #34d9bb);
    background-image: -o-linear-gradient(top, #1b5257, #34d9bb);
    background-image: linear-gradient(to bottom, #1b5257, #34d9bb);
    text-decoration: none;
  }
  .button {
    margin: 6.5rem auto 6.5rem auto;
  }
  .footer-link {
    margin: auto 0.625rem auto 0.625rem;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: #EAF6F6
  }